$primary:   #242f51;
$secondary: #001d3d;
$gray:      #616368;
$green:     #40975f;
$blue:      #2563ff;
$red:       #f55767;
$orange:    #fcae61;
$yellow:    #feaa25;
$background: #fffffc;


//bg-colors
$bg-green:  #e4ffee;
$bg-blue:   #eaf9ff;
$bg-gray:   #f4f4ff;
$bg-pink:   #fdeee4;
$bg-red:    #ffecef;
$bg-yellow: #fff6d3;
$bg-card: #f4f7f9;


//media queries breakpoints
$media-lg: 1199px; //1200px and up
$media-md: 991px; // 992px and up
$media-sm: 767px; // 768 px and up
$media-mb-l: 575px; // 576px and up
$media-mb-m: 424px; // 425px and up